!!! html
html(manifest=cacheManifestPublicPath)
	- var fs = require("fs");
	- var path = require("path");
	head
		- if(fs.existsSync(path.join(__dirname, "..", "app", "head.jade"))) {
		!= require("../app/head.jade")(locals)
		- }
		script(type="text/javascript", charset="utf-8", src=assetsPublicPath)
	body
		- if(fs.existsSync(path.join(__dirname, "..", "app", "body.jade"))) {
		!= require("../app/body.jade")(locals)
		- }
